<div class="container">
  <h2 class="text-center font-weight-bold">楽曲編集</h2>
  <% if @score.errors.any? %>
    <%= @score.errors.count %>件のエラーが発生しました
    <ul>
      <% @score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <%= form_with model: @score, local: true do |f| %>
        <div class="form-group row">
          <%= f.label :楽譜ファイル, class: 'col-md-4' %>
          <%= f.file_field :images, multiple: true, class: 'col-md-8', accept: "image/*" %>
        </div>
        <div class="form-group row">
          <%= f.label :楽曲名, class: 'col-md-4' %>
          <%= f.text_field :name, class: 'col-md-8' %>
        </div>
        <div class="form-group row">
          <%= f.label :アーティスト名, class: 'col-md-4' %>
          <%= f.text_area :artist, class: 'col-md-8' %>
        </div>
        <div class="form-group row">
          <%= f.label :カテゴリー, class: 'col-md-4' %>
          <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "カテゴリーを選択してください" %>
        </div>
        <div class="form-group row">
          <%= f.submit :編集, class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
