<div class="container">
  <div class="row">
    <div class="col-12 text-right mb-2 mt-4 mr-2">
      <%= search_form_for @q do |f| %>
        <%= f.label :name, "タイトルを入力" %>
        <%= f.text_field :name_cont, placeholder: "入力", class: "mr-3" %>
        <%= f.label :artist, "アーティスト名を入力" %>
        <%= f.text_field :artist_cont, placeholder: "入力", class: "mr-3" %>
        <%= f.submit ("検索"), class: "btn btn-secondary btn-sm" %>
      <% end %>
      <p id="notice"><%= notice %></p>
    </div>
    <div class="col-9">
      <div class="row mt-3 p-1"  style="background-color:rgba(130,0,0,0.8);">
          <h3 class="" style="color:rgba(225,255,255,1);">投稿一覧（全<%= @scores_count %>件）</h3>
      </div>
      <div class="col-md-9">
        <div class="rounded-circle text-center ml-auto" style="background-color: pink; width: 50px; height: 50px" >
          <%= link_to "新規投稿", new_score_path, class: "text-muted lead" %>
        </div>
      </div>
      <div class="row d-flex flex-wrap" style="background-color:rgba(255,255,255,0.5);">
        <% @scores.each do |score| %>
          <div class="col-3 flex-wrap ml-5">
            <%= link_to score_path(score), class: 'nav-link text-dark' do %>
              <p class="text-left"><%= score.name %></p>
              <p class="text-left">¥<%= score.artist %></p>
            <% end %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
</div>
