<div class= "container" >
  <div class= "row" >
    <h2>楽曲詳細</h2>
  </div>
  <div class="row" >
    <div class="col-9">
      <div class="row m-5 p-3 pb-5"  style="background-color:rgba(255,255,255,0.5);">
        <div class="col-md-4" >
          <% @score.images.each do |file| %>
            <%= image_tag @score.get_image(file, 100, 100) %>
          <% end %>
        </div>
        <div class="col-md-6 offset-md-2">
          <%= form_with model: @score_list, url: score_lists_path, method: :post do |f| %>
            <%= f.hidden_field :score_id, :value => @score.id %>
            <h4 class="ml-3 p-2"><%= @score.name %></h4>
            <h6 class="ml-3 p-2"><%= @score.artist %></h6>
            <div class="col-md-4" >
              <% @score.images.each do |file| %>
                <%= image_tag @score.get_image(file, 800, 800) %>
              <% end %>
            </div>
            <div class="ml-3">
              <%= f.submit "作成予定リストに入れる", class: "btn btn-block btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <div class="text-right" style="padding: 10px;">
    <% if @score.user == current_user %>
      <%= link_to "編集する", edit_score_path(@score), class: "btn btn-success btn-lg" %>
    <% end %>
  </div>
  <div class="comments-index">
    <%= render "public/comments/index", score: @score %>
  </div>
      
  <%= render "public/comments/form", score: @score, comment: @comment %>
</div>
