<div class= "container" >
  <%= form_with model: @score_list, url: score_lists_path, method: :post do |f| %>
    <%= f.hidden_field :score_id, :value => @score.id %>
    <h2 class="text-center font-weight-bold">楽曲詳細</h2>
    <div class="row" >
      <table class="table">
        <thead>
          <tr>
            <th>楽曲名</th>
            <th>アーティスト名</th>
            <th>カテゴリー</th>
            <th><%= f.submit "スコアリスト", class: "btn btn-primary" %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <%= form_with model: @score_list, url: score_lists_path, method: :post do |f| %>
              <%= f.hidden_field :score_id, :value => @score.id %>
              <td><%= @score.name %></td>
              <td><%= @score.artist %></td>
              <td><%= @score.category.name %></td>
              <td class=<%= "favorite-" + @score.id.to_s %> >
                <%= render "public/favorites/btn", score: @score%>
              </td>
              <% if @score.user == current_user %>
                <td><%= link_to "編集", edit_score_path(@score), class: "btn btn-success" %></td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" style="justify-content: center">
      <% @score.images.each do |file| %>
        <%= image_tag @score.get_image(file, 600, 600) ,style: "width:95%"%>
      <% end %>
    </div>
  <% end %>
</div>
<div class= "container" >
  
  <%= render "public/comments/form", score: @score, comment: @comment %>
  <div class="comments-index">
    <%= render "public/comments/index", score: @score %>
  </div>
</div>
