<div class= "container" >
<%= form_with model: @score_list, url: score_lists_path, method: :post do |f| %>
    <%= f.hidden_field :score_id, :value => @score.id %>
    <h2 class="text-center font-weight-bold">楽曲詳細</h2>
    <div class="row" >
      <table class="table">
        <thead>
          <tr>
            <th>楽曲名</th>
            <th>アーティスト名</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <%= form_with model: @score_list, url: score_lists_path, method: :post do |f| %>
              <%= f.hidden_field :score_id, :value => @score.id %>
              <td><%= @score.name %></td>
              <td><%= @score.artist %></td>
              <td><%= link_to "削除", admin_score_path(@score), method: :delete, class: "btn btn-danger pull-right", remote: true %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" style="justify-content: center">
      <% @score.images.each do |file| %>
        <%= image_tag @score.get_image(file, 600, 600) ,style: "width:95%"%>
      <% end %>
    </div>
  <% end %>
</div>