<h3 class="text-center">マイページ</h3>
<table class="container table table-borderless">
  <tr class="row">
   <td class="col text-center">
     <h5 class="font-weight-bold">会員情報</h5>
   </td>
   <td class="col text-center">
     <%= link_to "編集する", info_edit_path, class: 'text-dark btn btn-outline-warning btn-sm ' %>
   </td>
  </tr>
</table>

<div class="card w-50 mx-auto shadow-lg">
  <table class="table">
   <tr>
     <td>氏名</td>
     <td><%= @user.name %></td>
   </tr>
   <tr>
     <td>メールアドレス</td>
     <td><%= @user.email %></td>
   </tr>
  </table>
</div>
<div class="card w-50 mx-auto shadow-lg">
  <table class="table">
    <thead style= "background-color:rgba(130,0,0,0.8);", class="text-white">
      <tr>
        <th>マイリスト一覧</th>
      </tr>
    </thead>
    <% @mylists.each do |mylist| %>
      <tbody style="background-color:rgba(255,255,255,0.5);">
        <tr>
          <td>
            <%= link_to mylist_path(mylist.id) do %>
              <u><%= mylist.name %></u>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>

