<li><%= link_to "About", about_path, 'data-turbolinks': false, class: 'nav-link text-light' %></li><!--aboutへのリンク-->
<li><%= link_to "投稿一覧", scores_path, class: 'nav-link text-light' %></li><!--投稿楽譜一覧へのリンク-->
<li><%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light' %></li><!--新規登録へのリンク-->
<li><%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %></li><!--ログイン画面へのリンク-->
<li><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'nav-link text-light' %></li>